RewriteEngine on
RewriteCond $1 !^(index\.php|resources|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA] 
#
# this .htaccess file is to remove index.php from code igniter url
# don't forget to also edit file "config/config.php", change "$config['index_page'] = 'index.php';" into "$config['index_page'] = '';"